[submodule "modules/faeb187/stdl.list"]
	path = modules/faeb187/stdl.list
	url = git@github.com:faeb187/stdl.list.git
[submodule "modules/gabipetrovay/stdl.tab"]
	path = modules/gabipetrovay/stdl.tab
	url = git@github.com:gabipetrovay/stdl.tab.git
[submodule "modules/adioo/stdl.layout"]
	path = modules/adioo/stdl.layout
	url = git@github.com:adioo/stdl.layout.git
[submodule "modules/ajaxorg/ace"]
	path = modules/ajaxorg/ace
	url = https://github.com/ajaxorg/ace.git
[submodule "modules/adioo/bind"]
	path = modules/adioo/bind
	url = git@github.com:adioo/bind.git
[submodule "modules/adioo/layout"]
	path = modules/adioo/layout
	url = git@github.com:adioo/layout.git
[submodule "modules/adioo/form"]
	path = modules/adioo/form
	url = git@github.com:adioo/form.git
[submodule "modules/adioo/list"]
	path = modules/adioo/list
	url = git@github.com:adioo/list.git
[submodule "modules/adioo/tab"]
	path = modules/adioo/tab
	url = git@github.com:adioo/tab.git
[submodule "modules/adioo/table"]
	path = modules/adioo/table
	url = git@github.com:adioo/table.git
[submodule "modules/gabipetrovay/github_display"]
	path = modules/gabipetrovay/github_display
	url = git@github.com:gabipetrovay/github_display.git
