Ionică Bizău <bizauionica@gmail.com>
Ionică Bizău <bizauionica@yahoo.com>
Cristian Marcel <lcristianiim@gmail.com>
Cristian Marcel <lcristianiim@yahoo.com>
Andrei Dan <andrei_dani_96@yahoo.com>
Adrian Ottiker <adrian@ottiker.com>
Adrian Ottiker <adi@ottiker.com>
