#articleDetail { display:none; font-size:13px; }
#articleDetail, #noItemSelected { position:absolute; top:39px; bottom:34px; left:0px; right:0px; }
#articleDetail > fieldset { margin-left:10px; }
#articleDetail > fieldset > label { display:block; width:100px; float:left; }

input, textarea { width:300px; margin-bottom:5px; }
textarea { height:100px; padding:2px; }
input[type=checkbox] { float:left; margin-right:3px; width:auto; }
input[type=search] { width:150px; }

#noItemSelected { display:block; }