ul.bar {
    
    display:    block;
    position:   absolute;
    
    height: 34px;
    font-weight:bold;
    
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

ul.bar.top {
    
    top:    0px;
    left:   0px;
    right:  0px;
    
    background: url( '/file/subnav.png' );
}

ul.bar.top.thead {

    background: url( "/file/bg_bar_top.png" );
}

.hpane.middle > ul.bar.top { min-width:750px; }

ul.bar.bottom {
    
    bottom: 0px;
    left:   0px;
    right:  0px;
    
    background: url( '/file/bg_bar_bottom.png' );
}

ul.bar li {
    
    cursor:         pointer;
    display:        block;
    float:          left;
    list-style:     none;
    padding:        0 5px;
    position:       relative;
    white-space:    nowrap;
    
    height: 34px;
    
    top:    0px;
    bottom: 0px;
    
    color:          #000;
    font-size:      15px;
    line-height:    31px;
}

ul.bar li.right {
    
    float: right;
}

div.tab > ul.bar.top li {

    padding:0 20px;
    height:44px;
    line-height:44px;
}

ul.bar li.deactive,
ul.bar li.deactive:hover {
    
    cursor: default;
    color:  #000;
}

ul.bar li.active,
ul.bar li:hover {
    
    background-repeat:  no-repeat;
}

.hpane.middle > ul.bar.top > li { margin-right:10px; }
#articles_filter_dd:hover, #articles_filter_tm:hover, #articles_filter_topDD:hover, #articles_filter_topTM:hover { background:url(subnavHover.png); }
.hpane.middle > ul.bar.top > li.active { background:url(subnavActive.png); }
#articles_filter_dd.active:hover, #articles_filter_tm.active:hover, #articles_filter_topDD.active:hover, #articles_filter_topTM.active:hover { background:url(subnavActive.png); }

ul.bar.bottom li:hover { background:url(subnavHover.png); }
ul.bar.bottom li.comp.active,
ul.bar.bottom li.comp:hover {
    
    background-image:       url( '/file/active_down.png' );
    background-position:    center top;
}