#orderDetail {
	
	position:	absolute;
	display:	none;
	
	top:	39px;
	bottom:	39px;
	left:	0px;
	right:	0px;
    
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -o-user-select: text;
    user-select: text;
}

#orderDetail .orderItems > div {

    margin-bottom:10px;
}

#orderDetail label {

    display:block;
    float:left;
    width:120px;
    margin-left:5px;
}

#orderDetail label.title {

    font-weight:bold;
}

.orderItemTemplate {
    display: none;
}

.archiveCheck {
    width: 20px;
    height: 20px;
}

