#orderDetail {
	
	position:	absolute;
	display:	none;
	
	top:	39px;
	bottom:	39px;
	left:	0px;
	right:	0px;
    
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -o-user-select: text;
    user-select: text;
}

#orderDetail .orderItems > div {

    margin-bottom:10px;
}

#orderDetail label {

    display:block;
    float:left;
    width: 170px;
    margin-right: 5px;
}

#orderDetail label.title {

    font-weight:bold;
}

.orderItemTemplate {
    display: none;
}

.archiveCheck {
    width: 20px;
    height: 20px;
}

#orderItems tr label, #orderItemsDone tr label {
    width: auto;
    margin: 0 5px;
}
#orderItems tr, #orderItemsDone tr {
   border-bottom: solid 1px rgb(154,154,154);
}

#orderItems td, #orderItemsDone td {
   margin-right: 5px;
   border-right: solid 1px rgb(154,154,154);
}

#orderItems td input, #orderItemsDone td input {

   margin-left: 10px;
}

.red {
    color: red;
}

#orderTitle {
    color: #888;
    font-width: bold;
    font-size: 39px;
    margin-bottom: 20px;
}

.readonly {
    color: #888;
}
