@import url(http://fonts.googleapis.com/css?family=Oleo+Script);

body {
    
	overflow: hidden;
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0;
	padding: 0;
}

#vertexClassMenu {
    
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    background-color: rgb(61, 61, 61);
    margin: 0;
    padding: 0;
}

#vertexClassMenu > li {
    
    display: block;
    position: relative;
    float: left;
    color: rgb(204, 204, 195);
    cursor: pointer;
    font-size: 20px;
    font-family: 'Oleo Script', sans-serif;
    height: 20px;
    padding: 8px 10px 12px 10px;
    margin: 0;
}

#vertexClassMenu > li:hover {
    
    color: #fff;
}

#noVertexSelected {
    
    display: block;
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(228, 228, 228);
    font-family: 'Oleo Script', sans-serif;
    padding: 200px 0;
    font-size: 44px;
    color: rgb(180, 180, 180);
    text-align: center;
    text-shadow: 1px 1px #eee, -1px -1px #aaa;
}

#vertexes {
    
    display: block;
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    bottom: 0;
}

.vertexBox {
    
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    
    background-color: yellow;
}