@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

* {

    font-family: 'Open Sans', sans-serif;
}

#vertexList {
    
    display: block;
    position: absolute;
    
    top: 0;
    left: 0;
    bottom: 0;
    
    width: 300px;
    
    border-right: solid 2px #ddd;
}

#vertexList ul {
    
    display: block;
    position: absolute;
    
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    overflow-y: scroll;
    
    margin: 0;
    padding: 0;
}

#vertexList li {
    
    list-style: none;
    
    display: block;
    position: relative;
    
    left: 0;
    right: 0;
    
    height: 33px;
    
    padding: 7px 10px 0 10px;
    
    border-bottom: solid 1px #ddd;
    
    cursor: pointer;
    
    font-weight: 300;
}

#vertexList li:hover {
    
    background-color: #eee;
}

#vertexDetail {
    
    display: block;
    position: absolute;
    
    top: 0;
    left: 300px;
    bottom: 0;
    right: 0;
}

#vertexDetail form {
    
    display: none;
    padding: 10px;
}

#vertexDetail form label {
    
    display: block;
    position: relative;
    min-width: 100px;
    
    float: left;
}

#vertexDetail .noVertexSelected {
    
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(228, 228, 228);
    font-family: 'Oleo Script', sans-serif;
    padding: 200px 0;
    font-size: 44px;
    color: rgb(180, 180, 180);
    text-align: center;
    text-shadow: 1px 1px #eee, -1px -1px #aaa;
}