@import url(http://fonts.googleapis.com/css?family=Droid+Serif);

body {
	
	overflow:hidden;
}

#myList #mono_stdl_list_1 {
    
    display: block;
    position: absolute;
    
    top: 0px;
    bottom: 0px;
    left: 0px;
    
    width: 300px;
    
    background-color: red;
}

#myEditor #mono_editor_1 {
    
    display: block;
    position: absolute;
    
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 300px;
    
    background-color: yellow;
}