ul.list {
    
    display:    block;
    position:   absolute;
    
    top:    34px;
    bottom: 34px;
    left:   0px;
    right:  0px;
    
    overflow-y:   auto;
    
    background: #fff;
}

ul.list li {
    
    display:    block;
    position:   relative;
    
    left:   0px;
    right:  0px;
    
    padding: 0 10px;
    
    min-height: 34px;
    
    color:          #7F7F7F;
    font-size:      13px;
    line-height:    31px;
    
    border-bottom: solid 1px rgb( 170, 170, 170 );
    
    cursor: pointer;
}

ul.list li.active {
    
    color:   #000;
    background-color: rgb( 203, 203, 203 );
}

ul.list li:hover {
    
    color:   #000;
    background-color: rgb( 244, 244, 244 );
}
