div.table { display:block; position:absolute; top:0px; bottom:34px; left:0px; right:0px; min-width:930px; color:#000; font-size:13px; line-height:16px; }
div.table > ul.thead span.sort { display:block; position:relative; width:16px; height:9px; cursor:pointer; margin-top:11px; }
div.table > ul.thead > li { padding:0px; padding-left:5px; border-right:1px solid #aaa; font-size:14px; }
div.table > ul.thead > li span { float:left; font-weight:normal; }
div.table > ul.thead > li.nosort span.sort { background:none; }
div.table > ul.thead > li.asc span.sort { background:url(sort_up.gif); }
div.table > ul.thead > li.desc span.sort { background:url(sort_down.gif); }

div.table > div.tbody { display:table-row-group; position:absolute; top:34px; bottom:0px; left:0px; right:0px; overflow-y:auto; }
div.table > div.tbody > div.tr { display:block; position:relative; left:0px; right:0px; height:23px;
    border-bottom:solid 1px rgb( 170, 170, 170 ); cursor:pointer; clear:both; }
    
div.table > div.tbody > div.tr:hover { color:#000; background-color:rgb( 244, 244, 244 ); }
div.table > div.tbody > div.tr.active { color:#000; background-color:#bbb; }
div.table > div.tbody > div.tr > div { display:block; position:relative; float:left; padding-left:5px; line-height:23px; width:20%; min-height:23px; border-right:1px solid #aaa; }

#sort_caption, div.table > .tbody > .tr > .caption { width:300px; padding-left:5px; }
#sort_nr, div.table > .tbody > .tr > .nr { width:150px; }
#sort_brutto, div.table > .tbody > .tr > .brutto { width:80px; }
#sort_netto, div.table > .tbody > .tr > .netto { width:80px; }
#sort_stock, div.table > .tbody > .tr > .stock { width:55px; }
#sort_mtime, div.table > .tbody > .tr > .mtime { width:100px; }
#sort_disp, div.table > .tbody > .tr > .disp { width:90px; border-right: none }
