
/* clearfix */

/*
html[xmlns] .clearfix{
	display: block;
}

*:first-child+html html {
	display: block; 
} 
*/
 
* html .clearfix{
	height: 1%;
}

.clearfix:after{
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: block;
}

*+html .clearfix {
    display: inline-block;
}

/* global settings */ 

/* for ie */
li {
	vertical-align:bottom;	
}

html {
	/* ie6 */
	/*_display:none;*/
	
	background-color:#f3f3f3;
	
	color:#333;
}

body {

	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	line-height:130%;
	
	background-image:url(/file/front/topBg.gif);
	background-repeat:repeat-x;
}
a, a:visited {
	color:#666666;
	text-decoration:underline;
}
a:hover {
	color:#333333;
}
a:active {
	color:#666666;
}


h1 {
	font-size:143%;
	font-weight:bold;	
	padding-top:10px;
	padding-bottom:25px;
}
strong {
	font-weight:bold;	
}

span.button {
	display:inline-block;
	
	background-color:#999999;
	color:#ffffff;
	background-repeat:no-repeat;
	
	border:2px solid;
	border-color:#bbbbbb #777777 #777777 #bbbbbb;
	
	font-size:92%;
	line-height:130%;
	padding:10px;
	padding-top:3px;
	padding-bottom:3px;
	
	cursor:pointer;
	
	text-align:center;
}
span.button.inactive {
	-moz-opacity:.30;
	-ms-filter:"alpha(opacity=30)";
	filter:alpha(opacity=30);
	opacity:.30;
	
	cursor:auto;
}
span.button:hover {
	background-color:#bbbbbb;
}
span.button.inactive:hover {
	background-color:#999999;
}
span.button:active {
	background-position:0 0;
}

input[type="text"], input[type="number"], input[type="search"], input[type="password"], textarea {
	border:1px solid #CCC;
	padding:2px;
	margin:0px;
	background-color:#ffffff;
	resize: none;
	border-radius: 0px;
}


div.checkbox {
	margin-top:2px;
	margin-right:5px;
	width:14px;
	height:14px;
	display:inline-block;
	cursor:pointer;
	
	background-image:url(/file/front/checkbox.png);
	background-repeat:no-repeat;
}
div.checkbox:hover {
	background-position:0 -20px;
}
div.checkbox.active {
	background-position:-20px 0px;
}
div.checkbox.active:hover {
	background-position:-20px -20px;
}

span.link {
	color:#666;
	cursor:pointer;
}
span.link:hover {
	color:#333;
}


img.spinner {
	margin:auto;	
}

*.ui, img.spinner {
	display: none;
}

/* layout */

div#container{
	width:960px;
	margin:auto;
}

div#header{
	height:140px;
	position:relative;
	background-repeat:no-repeat;
}

div#body{
}

div#left {
	float:left;
	width:230px;
	margin-right:20px;
}
div#middle {
	float:left;
	width:510px;
	margin-right:20px;
}
div#right {
	float:left;
	width:180px;
}
div#full {
	float:left;
	width:960px;
}
div#fullRight {
	float:left;
	width:710px;
}


/* header */

div#header img.logo {
	position:absolute;
	top:35px;
	cursor:pointer;
}
div#header img.logoBackend {
	position:absolute;
	top:20px;
	cursor:pointer;
}

div#header div.lang {
	position:absolute;
	right:0;
	top:10px;
}
div#header div.lang ul {
	text-align:right;
}
div#header div.lang li {
	display:inline;
	border-right:1px solid #eeeeee;
	padding:0 5px;
	color:#666666;
	cursor:pointer;
}
div#header div.lang li:hover {
	color:#333333;
	text-decoration:underline;
}
div#header div.lang li.last {
	border:none;
}
div#header div.lang li.active {
	font-weight:bold;
	color:#333333;	
	cursor:auto;
}
div#header div.lang li.active:hover {
	text-decoration:none;
}
div#header div.search {
	position:absolute;
	top:80px;
	width:180px;
	right:0;
}
div#header div.search input {
	width:175px;
	font-size:114%;
}
div#header div.search input.placeholder {
	color:#999;
}


/* navigation */

ul.navigation div.block  {
	display:block;
	padding:10px;
	
	background-color:#ffffff;
	
	border:1px solid;
	border-color:#ffffff #dddddd #dddddd #ffffff;
	
	cursor:pointer;
	
	overflow:hidden;
}
ul.navigation div.block:hover  {
	background-color:#eeeeee;
}
ul.navigation div.block.active,  ul.navigation li.open div.block.active {
	background-color:#aaaaaa;
}
ul.navigation div.block.active:hover  {
	background-color:#aaaaaa;
}
ul.navigation span.text {
	color:#666666;
	display:block;
	float:left;

	font-size:100%;
	line-height:130%;

	overflow:hidden;
}
ul.navigation div.block:hover span.text {
	color:#333333;
}
ul.navigation div.block.clearfix.active span.text {
	color:#ffffff;
}
ul.navigation div.block.active:hover span.text {
	color:#ffffff;
}
ul.navigation > li > ul > li > div.block {
	padding-left:20px;
	background-color:#f7f7f7;
}
ul.navigation > li.open > div.block {
	background-color:#f7f7f7;
}
ul.navigation > li > ul > li > ul > li > div.block {
	padding-left:30px;
	background-color:#eeeeee;
}
ul.navigation > li > ul > li.open > div.block {
	background-color:#eeeeee;
}
ul.navigation > li > ul > li > div.block > span.text {
	font-size:92%;
	line-height:130%;
}
ul.navigation > li > ul > li > ul > li > div.block > span.text {
	font-size:86%;
	line-height:130%;
}
/*
ul.navigation li li div.block {
	background-color:#eeeeee;
}
ul.navigation li li li div.block {
	background-color:#f8f8f8;
}
ul.navigation li li li div.block {
	background-color:#ffffff;
}
*/


/* product listing */

div.paging  {
	width:100%;
	padding:10px 0;
}
div.paging span.label, div.paging span.separator {
	color:#999999;
}
div.paging div.text {
	font-size:71%;
	line-height:14px;
	padding-right:5px;
	padding-top:2px;
	float:right;
	vertical-align:central;
}
div.paging div.buttonLeft {
	
	display: none;
	float:right;
	width:18px;
	height:18px;
	margin-left:5px;
	
	background-image:url(/file/front/pager.png);
	background-repeat:no-repeat;
	
	cursor:pointer;
}
div.paging div.buttonLeft:hover {
	background-position:0 -20px;
}
div.paging div.buttonRight {
	
	display: none;
	float:right;
	width:18px;
	height:18px;
	margin-left:5px;
	
	background-image:url(/file/front/pager.png);
	background-repeat:no-repeat;
	background-position:-20px 0;
	
	cursor:pointer;
}
div.paging div.buttonRight:hover {
	background-position:-20px -20px;
}


ul.productList {
	padding-top:10px;
}
ul.productList li {
	width:100%;
	
	background-color:#ffffff;

	cursor:pointer;
	margin-bottom:10px;
	
	border:1px solid;
	border-color:#ffffff #dddddd #dddddd #ffffff;
}
ul.productList li:hover {
	background-image:none;
}
ul.productList div.imageContainer {
	float:left;
	width:140px;
	min-height: 104px;
	background-image: url( '/file/img/no_image_small.jpg' );
	background-repeat: no-repeat;
	background-position: center;
}
ul.productList div.textContainer {
	width:365px;
	float:right;
	padding-bottom:10px;
}

ul.productList li {
	color:#666666;
}
ul.productList li:hover {
	color:#333333;
}
ul.productList div.imageContainer img {
	display:block;
	margin:auto;
	margin-top:5px;
	margin-bottom:5px;
	max-width:130px;
	max-height:130px;
}
ul.productList div.textContainer h2 {
	padding-top:10px;
	font-size:92%;
	font-weight:bold;
	padding-bottom:20px;
	padding-right:10px;
}
ul.productList div.textContainer p {
	font-size:86%;
	padding-right:10px;
}
ul.productList div.textContainer p {
	font-size:86%;
}
ul.productList div.textContainer div.price div.prices {
	padding-top:5px;
	padding-bottom:5px;
}
ul.productList div.textContainer div.price div.prices div.price {
	padding-bottom:5px;
}
ul.productList div.textContainer div.price div.priceLabel {
	background-color:#333333;
	float:right;
	padding-left:5px;
	padding-right:5px;
	padding-bottom:3px;
	padding-top:5px;
	margin-top:10px;
}
ul.productList div.textContainer div.price div.priceLabel span {
	color:#FFF;
}
ul.productList div.textContainer div.price div.priceLabel span.currency {
	font-size:86%;
	padding-right:5px;
}
ul.productList div.textContainer div.price div.priceLabel span.price {
	font-size:114%;
	padding-right:5px;
}
ul.productList div.textContainer div.price div.priceLabel span.tax {
	font-size:57%;
}
ul.productList div.textContainer div.oldPrice {
	text-align:right;
	padding-right:5px;
}
ul.productList div.textContainer div.oldPrice span.stead {
	font-size:71%;
	padding-right:2px;
}
ul.productList div.textContainer div.oldPrice span.price {
	font-size:71%;
}

/* cart */

div.cart {
}
div.cart:hover {
	background-color:#ffffff;
	background-image:none;
}
div.cart h2 {
	padding:10px;
	padding-top:5px;
	padding-bottom:5px;
	
	background-color:#cccccc;
	
	border:1px solid;
	border-color:#eeeeee #aaaaaa #aaaaaa #eeeeee;
	
	font-size:92%;
	line-height:130%;
	color:#FFF;
}
div.cart div.cartContent {
	background-color:#ffffff;

	background-repeat:no-repeat;
	
	padding:10px;
	padding-top:15px;
	
	border:1px solid;
	border-color:#ffffff #dddddd #dddddd #ffffff;
}
div.cart div.cartContent:hover {
	background-color:#ffffff;
	background-image:none;
}
div.cart div.cartContent input {
	border-color:transparent;
}
div.cart div.cartContent:hover input {
	border-color:#333333;
}
div.cart div.cartContent:hover input:hover {
	border-color:#333333;
}
div.cart div.cartContent h3 {
	font-size:100%;
	line-height:130%;
	margin-top:10px;
	padding-top:10px;
	padding-bottom:5px;
	font-weight:bold;
	border-top:1px solid #CCC;
	color:#666;
}
div.cart div.cartContent h4 {
	font-size:86%;
	line-height:130%;
	font-weight:bold;
	padding-top:20px;
	padding-bottom:5px;
	color:#666;
}

div.cart div.cartContent div ul.shipping li {
	margin-bottom:5px;
	color:#666666;
}
div.cart div.cartContent div ul.shipping li:hover {
	color:#333333;
	cursor:pointer;
}
div.cart div.cartContent div ul.shipping li.active {
	color:#333333;
}
div.cart div.cartContent div ul.shipping li:hover p {
	color:#333333;
}
div.cart div.cartContent div ul.shipping li.active p {
	color:#333333;
}
div.cart div.cartContent div ul.shipping li:hover div.radio {
	background-color:#666666;
}
div.cart div.cartContent div ul.shipping li.active div.radio {
	background-color:#666666;
}

div.cart div.cartContent div.empty {
	font-size:86%;
	line-height:130%;
	color:#999999;
	padding-bottom:10px;
	display: block;
}
div.cart div.cartContent div.confirm {
	display: none;
	font-size:86%;
	line-height:130%;
	color:#03C;
	padding-bottom:10px;
}

div.cart div.cartContent div.content {
	/*display: none;*/
}

div.cart div.cartContent ul.cartList li {
	padding-bottom:10px;
	color:#666666;
	position:relative;
}
div.cart div.cartContent ul.cartList li span.quantity {
	font-size:71%;
	line-height:130%;
	padding-right:5px;
}
div.cart div.cartContent ul.cartList li input.quantity {
	font-size:86%;
	line-height:130%;
	width:40px;
	margin-right:2px;
}
div.cart div.cartContent ul.cartList li h4 {
	color:#666666;
	padding:0;
	font-size:86%;
	line-height:130%;
	font-weight:bold;
	padding-bottom:5px;
	width:140px;
	overflow:hidden;
}
div.cart div.cartContent ul.cartList li h4:hover {
	color:#333333;
	cursor:pointer;
}
div.cart div.cartContent ul.cartList li span.currency {
	font-size:71%;
	line-height:130%;
	padding-right:5px;
}
div.cart div.cartContent ul.cartList li span.price {
	font-size:86%;
	line-height:130%;
}

div.cart span.button {
	display:block;
	margin-top:10px;
}


div.cart div.deleter {
	width:14px;
	height:14px;
	position:absolute;
	right:0px;
	top:3px;
	
	background-image:url(/file/front/deleter.png);

	cursor:pointer;
}

div.cart:hover div.deleter:hover {
	background-position:0 -20px;
}

div.cart div.total span.currency {
	font-size:86%;
	padding-right:5px;
}
div.cart div.total span.tax {
	font-size:86%;
	display:block;
}

div.cart div.agb div.checkbox {
	float:left;
}
div.cart div.agb p {
	font-size:86%;
	line-height:130%;
	padding-bottom:10px;
	float:right;
	width:135px;
	color:#666666;
	overflow:hidden;
}
div.cart div.agb p a.agbLink {
	text-decoration:underline;
	cursor:pointer;
}
div.cart div.agb p a.agbLink:hover {
	color:#333333;
}
div.cart div.agb.highlight p {
	color:#F03;
}
div.cart div.agb.highlight p a.agbLink {
	color:#F03;
}
div.cart div.agb.highlight p a.agbLink:hover {
	color:#333333;
}

/* detail view */

div.detailView {
}
div.detailView div.imageContainer {
	width:270px;
	float:left;
	background-color:#FFF;
	border:1px solid;
	border-color:#ffffff #dddddd #dddddd #ffffff;
	margin-bottom:10px;
	min-height: 200px;
	background-image: url( '/file/img/no_image_big.jpg' );
	background-repeat: no-repeat;
	background-position: center;
}
div.detailView div.imageContainer img {
	display:block;
	margin:auto;
	margin-top:10px;
	margin-bottom:10px;
	max-width:250px;
	max-height:250px;
}
div.detailView div.buyContainer {
	width:230px;
	float:right;
	text-align:right;
	margin-bottom:10px;
}
div.detailView div.buyContainer p.orderNumber {
	font-size:71%;
}

div.detailView div.buyContainer div.price div.priceLabel {
	float:right;
	background-color:#333333;
	margin-top:5px;
	padding-left:5px;
	padding-right:5px;
	padding-bottom:5px;
	padding-top:8px;
	margin-bottom:5px;
}
div.detailView div.buyContainer div.price div.priceLabel span {
	color:#FFF;
}
div.detailView div.buyContainer div.price div.priceLabel span.currency {
	font-size:100%;
	padding-right:5px;
}
div.detailView div.buyContainer div.price div.priceLabel span.price {
	font-size:171%;
	padding-right:5px;
}
div.detailView div.buyContainer div.price div.priceLabel span.tax {
	font-size:64%;
}
div.detailView div.buyContainer div.price span.label {
	display:block;
	float:right;
	padding-right:5px;
	padding-top:3px;
	font-size:86%;
}
div.detailView div.buyContainer div.oldPrice {

}
div.detailView div.buyContainer div.oldPrice span.stead {
	font-size:71%;
	padding-right:5px;
}
div.detailView div.buyContainer div.oldPrice span.price {
	font-size:100%;
}
div.detailView div.buyContainer div.stock {
	clear:both;
	padding-top:20px;
	padding-bottom:5px;
}
div.detailView div.buyContainer div.stock span.label {
	font-size:86%;
}
div.detailView div.buyContainer div.quantity input.quantity:hover {
	border-color:#333;
}
div.detailView div.buyContainer div.quantity {
	padding-bottom:5px;
}
div.detailView div.buyContainer div.quantity span.label {
	font-size:86%;
}
div.detailView div.buyContainer div.quantity input.quantity {
	width:40px;
}
div.detailView div.buyContainer div.quantity input.quantity:hover {
	border-color:#333;
}

div.detailView div.textContainer {
	
	clear: both;
	background-color:#FFF;
	border:1px solid;
	border-color:#ffffff #dddddd #dddddd #ffffff;
	
	padding:10px;
	padding-top:5px;
	padding-bottom:20px;
}



/* footer */

div#footer {
	margin-top:30px;
	margin-bottom:30px;
	padding-top:10px;
	border-top:1px solid #cccccc;
}
div#footer span {
	font-size:71%;
	color:#666666;
}



/* backend */

div#login input {
	margin-bottom:5px;
}
div#login {
	margin-bottom:100px;
}



/* tabnavigation */

*.tabButton {

	padding: 10px;
		
	background-repeat:no-repeat;
	
	border:1px solid;
	border-color:#ffffff #dddddd #dddddd #ffffff;
	background-color:#ffffff;
	color:#666666;
	
	cursor:pointer;

	display:inline-block;
}
*.tabButton:hover {
	background-image:none;
	background-color:#eeeeee;
	color:#333333;
}

*.tabButton.active {

	background-color:#AAAAAA;
	background-repeat:no-repeat;
	background-position:0 -200px;
	
	border:1px solid;
	border-color:#eeeeee #aaaaaa #aaaaaa #eeeeee;
	
	color:#FFF;
	
	cursor:auto;
}



ul.tabNavigation {
	position:absolute;
	top:70px;
}

ul.tabNavigation li {
	float:left;
	margin-right:10px;
}

h1 span.artinfo {
	padding-left:5px;
	font-size: 71%;
	font-weight:normal;
}

h1 span.artname {
	padding-left:10px;
	font-size: 92%;
	font-weight:normal;
}
p.msg {
	padding-bottom:20px;
	color:#03C;
}

div.tableWrapper {
	width:960px;
	overflow:hidden;
}
table.productEdit {
	width:960px;
	overflow:hidden;
}
table.productEdit td {
	vertical-align:top;
}
table.productEdit tr.languageSelect td {
	padding-bottom:5px;
}

table.productEdit td.label p {
	padding-top:5px;
	width:250px;
}
table.productEdit td.label p span.mandatory {
	font-size:71%;
	vertical-align:top;
	padding-left:5px;
}
table.productEdit td div.wrapper {
	padding-right:5px;
	padding-bottom:5px;
}
table.productEdit td div.wrapper.last {
	padding-right:0;
}
table.productEdit div.flex {
	background-color:#FFF;
	width:665px;
	overflow:hidden;
}
table.productEdit div.flex.collapsed {
	width:40px;
}
table.productEdit div.flex.collapsed div.content {
	visibility:hidden;
}
table.productEdit div.content div.inner {
	padding:5px;
	padding-bottom:10px;
}

table.productEdit div.flex input[type=text] {
	width:650px;
}
table.productEdit div.flex textarea {
	width:650px;
	height:100px;
}
table.productEdit div.flex textarea.shortdescription {
	height:75px;
}
table.productEdit div.flex textarea.description {
	height:200px;
}

table.productEdit span.price {
	font-size:129%;
	line-height:130%;
}
table.productEdit ul.companies li {
	padding-top:5px;
	padding-bottom:5px;
}

table.productEdit div.full {
	background-color:#FFF;
	width:710px;
	overflow:hidden;
}

table.productEdit span.tabButton {
	background-position:-100px 0;
}
table.productEdit span.tabButton.active {
	background-position:-100px -200px;
}

html.popup {
	background:none;
	background-color:#ffffff;	
}

p.mandatory  {
	padding-top:20px;
	font-size:71%;
	vertical-align:top;
}
p.mandatory span.mandatory {
	padding-right:5px;
}

span.button.editSave {
	display:block;
	float:right;
	margin-top:20px;
}

table, th, td, tr {
	border:none;
}
div.artContainer table {
	width:100%;
	background-color:#FFF;
	border:1px solid;
	border-color:#ffffff #dddddd #dddddd #ffffff
}
div.artContainer table td, div.artContainer table th {
	padding:5px;
}

div.artContainer table th {
	background-color:#cccccc;	
	border:1px solid;
	border-color:#eeeeee #aaaaaa #aaaaaa #eeeeee;
}

div.artContainer table th {
	text-decoration:none;
	color:#ffffff;
	font-size:92%;
	cursor: pointer;
}
div.artContainer table th:hover {
	color:#333333;
}
div.artContainer table td {
	font-size:92%;
	color:#666666;
	cursor:pointer;
}
div.artContainer table tr:hover td {
	color:#333333;
	background-color:#eeeeee;
}
div.artContainer table tr.odd td {
	background-color:#fafafa;
}
div.artContainer table tr.odd:hover td {
	color:#333333;
	background-color:#eeeeee;
}

span.artinfo span.stead{
	font-size: 92%;
}

p.imgdef { font-size: 70% }